name: Vue.js App CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  NODE_VERSION: '12.x'  # set this to the node version to use (supports 8.x, 10.x, 12.x)
  VUE_WEB_PATH: ./web

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    
    - name: 'Restore npm packages'
      working-directory: ${{ env.VUE_WEB_PATH }}
      run: npm ci
    
    - name: 'Run lint'
      working-directory: ${{ env.VUE_WEB_PATH }}
      run: npm run lint

    - name: 'Run build'
      working-directory: ${{ env.VUE_WEB_PATH }}
      run: npm run build